# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Logs
*.log

# Temporary files
*.tmp
